<div class="row">
    <div class="col-5">
        <img class="w-100" src="~/images/@Context.User.FindFirst("FOTO").Value" />
    </div>
    <div class="col-7">
        <h3>Nombre: @Context.User.FindFirst("NOMBRE").Value</h3>
        <h3>Apellidos: @Context.User.FindFirst("APELLIDOS").Value</h3>
        <h3>Email: @Context.User.Identity.Name</h3>
        <a asp-controller="Libros" asp-action="PedidosUsuario"
           class="btn btn-primary mt-3 w-100">
            Ver mis pedidos
        </a>
    </div>

</div>