.par {
    background-color: #1E90FF;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.impar {
    background-color: #FF6347;
    color: #FFFACD;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
