@{
    List<int> carrito = Context.Session.GetObject<List<int>>("CARRITO");
    int numeroLibros = 0;
    if(carrito != null){
        numeroLibros = carrito.Count();
    }
}
<li class="nav-item">
    <span class="nav-link">
        Libros: @numeroLibros
    </span>
</li>
@if(numeroLibros > 0){
    <li class="nav-item">
        <a asp-controller="Libros" asp-action="Carrito" class="nav-link">
            Ver CARRO
        </a>
    </li>
}