@model List<Departamento>

<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <button class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Departamentos
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            @foreach (Departamento dept in Model)
            {
                <li>
                    <a class="dropdown-item" asp-controller="Paginacion"
                       asp-action="DetallesDepartamento" asp-route-iddepartamento="@dept.IdDepartamento">@dept.Nombre</a>
                </li>
            }
        </ul>
    </li>
</ul>