<div>
    <h1>Plantilla Función Múltiple</h1>
    <form #funcionesForm="ngForm">
        <select name="selectfunciones" #selectfunciones class="form-control" multiple>
            @for (funcion of funciones; track funcion){
            <option value={{funcion}}>{{ funcion }}</option>
            }
        </select>
        <button (click)="mostrarPlantilla()">Mostrar plantilla</button>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id Empleado</th>
                <th>Id Hospital</th>
                <th>Id Sala</th>
                <th>Apellido</th>
                <th>Función</th>
                <th>Turno</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @for (emp of empleados; track emp){
                <tr>
                    <td>{{ emp.idEmpleado }}</td>
                    <td>{{ emp.idHospital }}</td>
                    <td>{{ emp.idSala }}</td>
                    <td>{{ emp.apellido }}</td>
                    <td>{{ emp.funcion }}</td>
                    <td>{{ emp.turno }}</td>
                    <td>{{ emp.salario }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>