<h2 style="color: red;">Acceso denegado</h2>

<img src="https://media.istockphoto.com/id/1370390892/es/vector/mensaje-de-acceso-denegado-en-la-pantalla-interfaz-futurista-vectorial.jpg?s=612x612&w=0&k=20&c=A4-LKA7YRKwBuOpgMsnhriKfisKxcuW--8i83EVdSts="
style="width: 600px; height: 300px;" />