@model Departamento

<h1>Edit Departamento</h1>

<p>
    <a asp-controller="Departamentos"
       asp-action="Index"
       class="btn btn-secondary">
        Volver
    </a>
</p>

<form method="post">
    <input type="hidden" name="iddepartamento" value="@Model.IdDepartamento" />
    <label>Nombre </label>
    <input type="text" name="nombre" value="@Model.Nombre" class="form-control" />
    <label>Localidad </label>
    <input type="text" name="localidad" value="@Model.Localidad" class="form-control" />
    <button class="btn btn-info">
        Actualizar Departamento
    </button>
</form>