<div>
    <ul id="menu">
        <li>
            <a [routerLink]="['/']">Home</a> |
        </li>
        <li>
            <a [routerLink]="['/cine']">Cine</a> |
        </li>
        <li>
            <a [routerLink]="['/musica']">Música</a> |
        </li>
        <li>
            <a [routerLink]="['/numerodoble']">Número Doble sin parámetros</a> |
        </li>
        <li>
            <a [routerLink]="['/numerodoble/77']">Número Doble con parámetros</a> |
        </li>
        <li>
            <a [routerLink]="['/numerodoble/69']">Número Doble con parámetros</a> |
        </li>
    </ul>
</div>