@model Empleado

<h1>Details</h1>

<p>
    <a asp-controller="Empleados"
        asp-action="Index">
        Volver
    </a>
</p>

<ul class="list-group">
    <li class="list-group-item">
        @Model.Apellido
    </li>
    <li class="list-group-item">
        @Model.Oficio
    </li>
    <li class="list-group-item">
        @Model.Salario
    </li>
    <li class="list-group-item">
        @Model.IdDepartamento
    </li>
</ul>