@model List<Cubo>

<h1>Carrito de la compra</h1>
@if (Model != null)
{
    <a asp-controller="Cubos" asp-action="FinalizarCompra"
       class="btn btn-primary my-3">
        Finalizar compra
    </a>
    <div class="row">
        @foreach (Cubo cubo in Model)
        {
            List<int> carrito = Context.Session.GetObject<List<int>>("CARRITO");
            int cantidad = carrito.Where(id => id == cubo.IdCubo).Count();
            <div class="col-4">
                <a asp-controller="Cubos" asp-action="Details"
                   asp-route-idcubo="@cubo.IdCubo"
                   class="text-decoration-none">
                    <div class="card">
                        <img class="card-img-top" src="@cubo.Imagen" />
                        <div class="card-body">
                            <h5 class="card-title">@cubo.Nombre</h5>
                            <a asp-controller="Cubos" asp-action="QuitarCubo"
                               asp-route-idcubo="@cubo.IdCubo">
                                Quitar del carrito
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}
else
{
    <h2>No hay cubos en tu carrito</h2>
}