<h1 style="color: blue;">
    Cosmos Db Objetos
</h1>
<p style="color: red;">
    Aquí creamos nuestros recursos en Cosmos, solamente UNA VEZ
</p>
<form method="post">
    <button class="btn btn-outline-danger" name="accion" value="">
        Crear Database y Container
    </button>
</form>
<h3 style="color: blue;">@ViewData["MENSAJE"]</h3>