@model List<Enfermo>

<h1>LINQ Enfermos</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Sexo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Enfermo enfermo in Model)
        {
            <tr>
                <td>@enfermo.Apellido</td>
                <td>@enfermo.Sexo</td>
                <td>
                    <a asp-controller="Enfermos"
                       asp-action="Detalles"
                       asp-route-inscripcion="@enfermo.Inscripcion"
                       class="btn btn-info">
                        Detalles
                    </a>
                    <a asp-controller="Enfermos"
                       asp-action="Eliminar"
                       asp-route-inscripcion="@enfermo.Inscripcion"
                       class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>