<h1 style="color: red;">
    Session simple
</h1>

<p>
    <a asp-controller="EjemploSession"
        asp-action="SessionSimple"
        asp-route-accion="almacenar">
        Almacenar Session
    </a>
</p>

<p>
    <a asp-controller="EjemploSession"
       asp-action="SessionSimple"
       asp-route-accion="mostrar">
        Mostrar Session
    </a>
</p>

<h3>@ViewData["MENSAJE"]</h3>

<h2 style="color: orange">
    @ViewData["USUARIO"]
</h2>

<h2 style="color: lightseagreen">
    @ViewData["HORA"]
</h2>