<h1>Migración Alumnos To Azure</h1>

<form method="post">
    <button class="btn btn-danger" name="accion" value="accion">
        Migrar Alumnos
    </button>
</form>

<h2 style="color: blue;">
    @ViewData["MENSAJE"]
</h2>